.list-section {
    width: 400px;
    color: #000;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    padding: 24px 16px;

}

.list-content {
    width: 100%;
    min-width: 0;
    word-break: break-all;
    display: flex;
    flex-direction: column;
}

.list-title {
    font-weight: 500;
    font-size: 1rem;
}

.list-secondary {
    color: #666;
    font-size: 0.9rem;
    word-break: break-all;
}