.main-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    >div:first-child {
        width: 20%;
        padding: 20px 0px;
        background-color: #f0f0f0;
        border-radius: 5px;
    }

    >div {
        margin: 20px;
        height: calc(100vh - 40px);
    }

    >div:last-child {
        width: 78%;
        background-color: #ffffff;
        border-radius: 5px;

        >div {
            height: 50%;
            width: 100%;
            display: flex;
            overflow: auto;
            flex-direction: column;
        }

        >div:first-child {
            margin-bottom: 2.5px;
        }
    }
}

.cards-sidebar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 75px;
    background: #fafafa;
    color: #000;
    margin-bottom: 2.5px;

    >p,
    h4 {
        margin: 0;
    }

    >mat-icon {
        margin: 0px 10px;
    }

    >h4 {
        font-size: 18px;
        margin-right: 5px;
    }
}