<div class="main-content">

    <div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="mb-5">
                <img src="/svgs/azure-cloud.svg" alt="Azure Cloud Logo">
            </div>
        </div>

        <div class="cards-sidebar">
            <mat-icon>timer</mat-icon>
            <h4>Total de Usuários: </h4>
            <p>{{users.length}}</p>
        </div>

        <div class="cards-sidebar">
            <mat-icon>calculate</mat-icon>
            <h4>Total de Grupos: </h4>
            <p>{{groups.length}}</p>
        </div>

        <div class="cards-sidebar">
            <mat-icon>person</mat-icon>
            <h4>Nome: </h4>
            <p>{{userName}}</p>
        </div>

        <div class="cards-sidebar">
            <mat-icon>vpn_key</mat-icon>
            <h4>Tenant: </h4>
            <p>{{tenantId}}</p>
        </div>

        <div class="cards-sidebar" style="cursor: pointer;" (click)="logout()">
            <mat-icon>logout</mat-icon>
            <h4>Sair </h4>
        </div>

    </div>

    <div>
        <div>
            <app-card-tenant [title]="'Usuários'" [icon]="'person'" [items]="users"></app-card-tenant>
        </div>
        <div>
            <app-card-tenant [title]="'Grupos'" [icon]="'group'" [items]="groups"></app-card-tenant>
        </div>
    </div>

</div>