<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over" class="sidenav">
        <h3>Informações do Usuário</h3>
        <p><strong>Tenant ID:</strong> {{ tenantId }}</p>
        <p><strong>Usuário:</strong> {{ userName }}</p>
    </mat-sidenav>

    <mat-toolbar color="primary" class="navbar">
        <span class="app-title"></span>
        <span class="spacer"></span>
        <button class="icon-name" mat-icon-button (click)="sidenav.open()">
            <span class="user-circle">
                {{ userName ? userName.charAt(0).toUpperCase() : '?' }}
            </span>
        </button>
        <button mat-icon-button aria-label="Sair" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>

    <div class="main-content">
        <app-card-user [users]="users"></app-card-user>
        <app-card-group [groups]="groups"></app-card-group>
    </div>
</mat-sidenav-container>